<h1>Reset Password</h1>

<% form_for :user, :url => {:action => "reset_password"} do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.submit 'Reset password' %>
  </p>
<% end %>
